body {
  background-color: rgb(189, 134, 16);
}

#header {
  background-color: black;
  height: 105px;
  margin: -20px -30px 0px -10px;
  
  color: white;
}
.content {
  margin: 20px;
  position: relative;
  top: 35px;
  left: 50px;
}

.content form {
  font-size: 25px;
}

input{
    height: 25px;
    font-size: 20px;
}

#search{
    height: 32px;
    width: 90px;
}

li {
  margin: 20px;
  position: relative;
  top: 30px;
  left: 50px;
  list-style-type: none;
  margin: 20px 0;
  font-size: 25px;
}

#footer{
  height: 90px;
  background-color: rgb(23, 71, 8);
  position: absolute;
  top: 420px;
  margin: 0px -10px;
}