body{
    margin:auto;
    width: 600px;
}
#outerBoarder{
    display: inline-grid;
    grid-template-areas:"up up" 
                        "left right";
    border: 2px solid gray;
    border-radius: 5px;
    box-shadow: 2px 5px #888888;
    margin: auto;
    width: 600px;
    background-color: rgb(121, 193, 202);
}

.content
{
    grid-area: left;
    padding-left: 15px;
    width:110px;
    line-height: 30px;
    display: inline-block;
}

.container2
{
    grid-area: right;
    width: 220px;
    line-height: 30px;
}

#header{
    grid-area: up;
    border: 1px solid gray;
    background-color: white;
    width: fit-content;
    box-shadow: 1px 2px gray;
    padding: 3px;
    margin-top: -12px;
    margin-left: 15px;
}

body{
    margin-top: 30px;
}

a{
    color: pink;
}

.formater {
    margin-top: 20px;
    text-align: right;
  }

